/* CSS Main Default */
/* * {
  margin: 0;
  padding: 0;
}*/
body {
/*   background: #BBCFE8; */
	background: #fff;
  	font-family: Verdana, Arial, Helvetica, sans-serif;
  	color: #333;
  	font-size: 14px;
}

.wrapper {
  	margin: 0 auto;
  	margin-bottom: 20px;
/*  	background: #fff; */
/*   	-moz-border-radius: 10px; */
/*   	-webkit-border-radius: 10px; */
}

/* header 영역
----------------------------------*/
/*div.header*/
.header {
/* 	position: relative; */
  	height: 50px;
  	margin: 0;
  	border: 1px solid /*transparent*/;
}
.logo {
	float: left;
  	width: 200px;
  	height: 100%;
  	border: 1px solid;
}

/*div.navbar*/
.navbar {
	height: 100%;
	border: 1px solid;
    margin: 0;
}

.navbar .navbar-nav {
	height: 100%;
/* 	display: block !important; */
	float: left;
	border: 1px solid;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}
  
/* navbar 의 영향을 받고 싶지 않다면 .navibar 로 수정
.navbar .navbar-right {
    float: right !important;
}
.navbar .navbar-right .dropdown-menu {
 	right: 0;
    left: auto;
}
.navbar .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
}
*/

.navbar-form {
  	padding: 0px 15px;
  	margin-top: 0px;
}

.navbar-form .input-group > .form-control {
    width: 250px;
}

/* User */  
.user {
  width: 100%;
  height: 30px;
  display: block !important;
/*   right: 0; */
/*   left: auto; */
/*   float: right !important; */
}

.btn-renew {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  height: 25px;
  border: 1px solid;
  border-radius: 4px;
}
.btn-renew:active,
.btn-renew.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-logout {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  height: 25px;
  border: 1px solid;
  border-radius: 4px;
}

/* main 영역
----------------------------------*/
.main {
/* 	position: relative; */
  	margin: 0;
  	min-height: 500px;
/*   display: -webkit-flex; */
/*   display: flex; */
}

.left_sidebar {
	float: left;
/*   	width: 350px; */
/*   	border: 1px solid; */
}
.center {
	float: left;
/* 	width: initial; */
/* 	position: relative; */
/* 	margin-left: 350px; */
/* 	clear: left; */
/* 	margin-left: 25em; */
/*   	margin: 0 auto; */
  	border: 1px solid;
/*   -webkit-flex: 1; */
/*   flex: 1; */
/*   overflow-y: auto; */
}

/* left_sidebar 영역
----------------------------------*/
.left_sidebar .left {
	-webkit-transition-duration: 1s;
  	-moz-transition-duration: 1s;
  	-ms-transition-duration: 1s;
  	-o-transition-duration: 1s;
  	transition-duration: 1s;
  	float: left;
  	width: 330px;
/*   	width: 24em; */
  /* 	margin: 0 auto; */
  	border: 1px solid;
}

.left_sidebar .menu-switch {
/*   	padding-top: 6em; */
	padding-top: 150px;
	width: 20px;
	float: left;
}
.left_sidebar .menu-switch label {
  	font-size: 11px;
  	cursor: pointer;
}

.left_sidebar input {
  	display: none;
}

.left_sidebar #menu-collapsed:checked ~ .left {
  	margin-left: -350px;
}
.left_sidebar #menu-collapsed:checked ~ .menu-switch .open {
  	display: block;
}
.left_sidebar #menu-collapsed:checked ~ .menu-switch .collapse {
  	display: none;
}
.left_sidebar #menu-collapsed ~ .menu-switch .collapse {
  	display: block;
}
.left_sidebar #menu-collapsed ~ .menu-switch .open {
  	display: none;
}

/* center 영역
----------------------------------*/
.breadcrumbs {
  	height: 30px;
  	border: 1px solid;
}

.content {
  	border: 1px solid;
}

/* footer 영역
----------------------------------*/
/*div.footer*/
.footer {
  	text-align: right;
  	height: 50px;
  	border: 1px solid;
  	clear: both;
/*   margin: 0 auto; */
/* 	clear: left; */
}
a.sidebar-link {
  display: none;
}
a.nav-link {
  display: none;
}

/* Phones
----------------------------------*/
@media screen and (max-width: 767px) {
  #wrap {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #main {
    display: block;
  }
  #sidebar {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    left: -85%;
    background: rgba(0, 0, 0, 0.1);
  }
  #wrap.active {
    left: 85%;
  }
  #right-columns {
    width: auto;
  }
}

/* Tablets
----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #sidebar {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: -50%;
    background: rgba(0, 0, 0, 0.1);
  }
  #main {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    overflow: visible;
  }
  #main.active {
    left: 50%;
  }
}

/* Phones & Tablets 
----------------------------------*/
@media screen and (max-width: 991px) {
  body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-size: 2em;
  }
  #wrap {
    width: 100%;
  }
  a.sidebar-link {
    float: left;
    display: block;
    padding: 0 1em;
  }
  a.nav-link {
    float: right;
    display: block;
    padding: 0 1em;
  }
  #header {
    top: 0;
  }
  #nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    top: auto;
    overflow: hidden;
    max-height: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  #nav.active {
    max-height: 55em;
  }
}

/* Desktops
----------------------------------*/
/*
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
}
*/
/* Wide Desktops
----------------------------------*/
/*
@media screen and (min-width: 1200px) {
  
}
*/
