/* CSS Main Default */
/* * {
  margin: 0;
  padding: 0;
}*/
body {
/*   background: #BBCFE8; */
	background: #fff;
  	font-family: Verdana, Arial, Helvetica, sans-serif;
  	color: #333;
  	font-size: 14px;
}

.wrapper {
/* 	position: static; */
  	margin: 0 auto;
  	margin-bottom: 20px;
/*  	background: #fff; */
/*   	-moz-border-radius: 10px; */
/*   	-webkit-border-radius: 10px; */
}

/* header 영역
----------------------------------*/
/*div.header*/
.header {
	position: fixed;
	top: 0;
	right: 0;
  	left: 0;
  	z-index: 1030;
/* 	position: relative; */
  	margin: 0;
  	padding-right: 0;
    padding-left: 0;
    width: 100%;
  	height: 80px;
  	background-color: #ffffff;
  	border: 1px solid /*transparent*/;
}

/* User */  
.user {
 	width: 100%;
  	height: 30px;
  	display: block !important;
/*     position: fixed; */
/*   	top: 0; */
/*   float: right !important; */
}

.btn-renew {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  height: 25px;
  border: 1px solid;
  border-radius: 4px;
}
.btn-renew:active,
.btn-renew.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-logout {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  height: 25px;
  border: 1px solid;
  border-radius: 4px;
}

.navi {
	width: 100%;
  	height: 50px;
/*   	margin: 30px 0 0; */
  	border: 1px solid /*transparent*/;
}

.logo {
	float: left;
  	width: 200px;
  	height: 100%;
  	border: 1px solid;
}

/*div.navbar*/
.navbar {
	height: 100%;
	border: 1px solid;
    margin: 0;
}

.navbar .navbar-nav {
	height: 100%;
/* 	display: block !important; */
	float: left;
	border: 1px solid;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

/* navbar 의 영향을 받고 싶지 않다면 .navibar 로 수정 */
/* smartmenus 의 css에서 
.navbar-right ul.dropdown-menu {
	left: 0;
	right: auto;
}
때문에 아래 코드 override 해준다.(bootstrap에 이미 있는 코드이지만)
*/
.navbar .navbar-right {
    float: right !important;
}
.navbar .navbar-right .dropdown-menu {
 	right: 0;
    left: auto;
}
.navbar .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
}


.navbar-form {
  	padding: 0px 15px;
  	margin-top: 0px;
}

.navbar-form .input-group > .form-control {
    width: 250px;
}

/* main 영역
----------------------------------*/
.main {
/* 	position: relative; */
	position: absolute;
  	margin: 0;
  	padding: 0;
/*   	height: 100% !important; */
/*   	min-height: 100%; */
  	top: 80px;
	right: 0;
	bottom: 0;
	left: 0;
/*   display: -webkit-flex; */
/*   display: flex; */
}

.left-sidebar {
/* 	-webkit-transition-property: left, width; */
/* 	-moz-transition-property: left, width; */
/* 	-ms-transition-property: left, width; */
/* 	-o-transition-property: left, width; */
/* 	transition-property: left, width; */
	
	-webkit-transition-duration: 1s;
  	-moz-transition-duration: 1s;
  	-ms-transition-duration: 1s;
  	-o-transition-duration: 1s;
  	transition-duration: 1s;
  	
/* 	float: left; */
	width: 330px; /*330 으로 하면 약간 안맞아서 2px 늘림 - 원인파악 필요*/
	position: fixed;
	top: 80px;
	left: 0;
	margin: 0;
	padding: 0;
/* 	overflow-y: auto; */
	border: 1px solid;
}

.center {
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-ms-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	-webkit-transition-duration: 1s;
  	-moz-transition-duration: 1s;
  	-ms-transition-duration: 1s;
  	-o-transition-duration: 1s;
  	transition-duration: 1s;
  	
/* 	float: left; */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 334px;
/* 	height: 100% !important; */
	
/* 	width: initial; */
/* 	position: relative; */
/* 	margin-left: 350px; */
/* 	clear: left; */
/* 	margin-left: 25em; */
/*   	margin: 0 auto; */
  	border: 1px solid;
/*   -webkit-flex: 1; */
/*   flex: 1; */
/*   overflow-y: auto; */
}

/* left-sidebar 영역
----------------------------------*/
.left {
	margin: 0;
	padding: 0;
/* 	overflow-y: auto; */
/* 	max-height: 500px; */
	padding-bottom: 30px; /* footer height 값 설정*/
}

.leftsidebar-collapse {
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-ms-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	
	-webkit-transition-duration: 1s;
  	-moz-transition-duration: 1s;
  	-ms-transition-duration: 1s;
  	-o-transition-duration: 1s;
  	transition-duration: 1s;
  	
/*   	padding-top: 6em; */
/* 	padding-top: 20px; */
/* 	width: 15px; */
/* 	float: left; */
/* 	position: absolute; */
/* 	left: 330px; */

	display: inline;
	top: 100px;
	left: 315px; /* 330-15 */
	margin: 0;
	padding: 0;
	position: fixed;
	width: 15px;
	z-index: 88;
	
	border: 1px solid;
}
.leftsidebar-collapse label {
  	font-size: 12px;
  	cursor: pointer;
}

.leftsidebar-collapse .collapse-close {
  	display: block;
  	padding: 0;
  	margin: 0;
}
.leftsidebar-collapse .collapse-open {
  	display: none;
  	padding: 0;
  	margin: 0;
}

/* .main #menu-collapsedinput {
  	display: none;
} */

/*
.main #menu-collapsed:checked ~ .left-sidebar {
  	margin-left: -330px;
}
.main #menu-collapsed:checked ~ .leftsidebar-collapse .collapse-open {
  	display: block;
}
.main #menu-collapsed:checked ~ .leftsidebar-collapse .collapse-close {
  	display: none;
}
.main #menu-collapsed ~ .leftsidebar-collapse .collapse-close {
  	display: block;
}
.main #menu-collapsed ~ .leftsidebar-collapse .collapse-open {
  	display: none;
}
*/

.v-splitter {
	background-color: #BBB;
	background-position: center center;
	background-repeat: no-repeat;
	cursor: e-resize;
	display: inline;
	height: 100% !important;
	top: 0;
	left: 330px;
	margin: 0;
	padding: 0;
	position: absolute;
	vertical-align: middle;
	width: 4px;
	z-index: 88;
}

/* center 영역
----------------------------------*/
.breadcrumbs {
	position: fixed;
	top: 80px;
	width: 100%;
  	height: 30px;
  	z-index: 1;
  	background-color: #ffffff;
  	border: 1px solid;
}

.content {
	position: relative;
	top: 30px;
	width: 100%;
	padding-bottom: 30px; /* footer height 값 설정*/
  	border: 1px solid;
}

/* footer 영역
----------------------------------*/
/*div.footer*/
.footer {
	position: fixed;
	bottom: 0;
  	text-align: right;
  	width: 100%;
  	height: 30px;
  	border: 1px solid;
/*   	clear: both; */
/*   margin: 0 auto; */
/* 	clear: left; */
}
a.sidebar-link {
  display: none;
}
a.nav-link {
  display: none;
}

/* Phones
----------------------------------*/
@media screen and (max-width: 767px) {
  #wrap {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #main {
    display: block;
  }
  #sidebar {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    left: -85%;
    background: rgba(0, 0, 0, 0.1);
  }
  #wrap.active {
    left: 85%;
  }
  #right-columns {
    width: auto;
  }
}

/* Tablets
----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #sidebar {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: -50%;
    background: rgba(0, 0, 0, 0.1);
  }
  #main {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    overflow: visible;
  }
  #main.active {
    left: 50%;
  }
}

/* Phones & Tablets 
----------------------------------*/
@media screen and (max-width: 991px) {
  body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-size: 2em;
  }
  #wrap {
    width: 100%;
  }
  a.sidebar-link {
    float: left;
    display: block;
    padding: 0 1em;
  }
  a.nav-link {
    float: right;
    display: block;
    padding: 0 1em;
  }
  #header {
    top: 0;
  }
  #nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    top: auto;
    overflow: hidden;
    max-height: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  #nav.active {
    max-height: 55em;
  }
}

/* Desktops
----------------------------------*/
/*
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
}
*/
/* Wide Desktops
----------------------------------*/
/*
@media screen and (min-width: 1200px) {
  
}
*/
