//
// Page Layout
//
// Page Layout 의 CSS
// --------------------------------------------------

/* Page CSS
----------------------------------*/
// .page-content
.page-content {

}

// .page-header
.page-header {

}

// .page-body
.page-body {
	.row {
		padding-bottom: 3px;
	}
}

// .page-footer
.page-footer {

}

// .form-search
.form-search {
	.search-item {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        
        input[type="text"] {
	        display: inline-block;
	        vertical-align: middle;
	        width: auto;
	        height: 34px;
	        padding: 6px 12px;
	        font-size: 14px;
	        line-height: 1.42857143;
	        color: #555;
	        background-color: #fff;
	        background-image: none;
	        border: 1px solid #ccc;
	        border-radius: 4px;
	        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    }
	    input[type="text"]:focus {
	        border-color: #66afe9;
	        outline: 0;
	        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	    }
	    input[type="text"]::-moz-placeholder {
	        color: #777;
	        opacity: 1;
	    }
	    input[type="text"]:-ms-input-placeholder {
	        color: #777;
	    }
	    input[type="text"]::-webkit-input-placeholder {
	        color: #777;
	    }
	    
	    .input-group {
	    	.input-group-addon,.input-group-btn {
  				width: auto;	// bootstrap override
			}
	    }
	    
	    .stepper {
	    	input[type=text] {
	    		width: inherit; // 검색폼에서 width값이 무조건 100% 되는것 방지 
	    	}
	    }
    }
    
    label.search-label {
    	width: 25%;
    	margin-bottom: 0;
    	text-align: right;
    	vertical-align: middle;
    	padding-right: 5px;
    }
    
    /*
    .input-group {
        display: inline-block;
        vertical-align: middle;
    }
    */
}

/*
.form-search {
    .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
        padding-left: 15px;
        label {
            font-weight: normal;
        }
    }
    .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
        & > .form-control {
            width: 100%;
        }
    }
    .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .has-feedback {
        .form-control-feedback {
            top: 0;
        }
    }
}
.form-search .input-group .input-group-addon,
.form-search .input-group .input-group-btn,
.form-search .input-group .form-control {
    width: auto;
}
.form-search .radio,
.form-search .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .radio label,
.form-search .checkbox label {
    padding-left: 0;
}
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
}
*/