<div class="page-content">
	<div class="page-header">
		<h4>엑셀버튼 설정</h4>
	</div>
	<div class="page-body">
	<form id="excelForm" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">엑셀 아이콘</h3>
		  	</div>
		  	<div class="panel-body">
		  		<div class="row col-md-12">
		    		<label class="radio-inline"><input type="radio" name="excelButton" ng-model="excelButton" value="xls">
		    			<img src="/skin/common/asset/icon/grid/export.png" title="Microsoft Excel" alt="Microsoft Excel"/> (Microsoft Excel)</label>
					<label class="radio-inline"><input type="radio" name="excelButton" ng-model="excelButton" value="cell">
						<img src="/skin/common/asset/icon/grid/export_hancell.png" title="한컴 오피스 한셀" alt="한컴 오피스 한셀"/> (한컴 오피스 한셀)</label>
		 			<div class="space"></div>
		 		</div>
		 		
		 	</div>
		</div>
		
		<div class="row col-md-12">
			<button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
		  		Save
			</button>
		</div>
	</form>
	</div>
	
	<div class="page-footer">
	
	</div>
</div>