<div class="page-content">
	<div class="page-header">
		<h4>보고서 설정</h4>
	</div>
	<div class="page-body">
	<form id="excelForm" method="post">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	<h3 class="panel-title">보고서</h3>
		  	</div>
		  	<div class="panel-body">
		  		
		 		
		 	</div>
		</div>
		
		<div class="row col-md-12">
			<button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
		  		Save
			</button>
		</div>
	</form>
	</div>
</div>