<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
		<span>jqGrid 테이블</span>
	</div>
	
	<div class="page-body">
		<div class="row">
			<div class="col-md-7">
				<ps-grid grid-id="gridId1" pager-id="pagerId1" options="options" d-class="smooth"></ps-grid>
			</div>
			<div class="col-md-5">
				<ps-tabset>
			        <ps-tab heading="HTML 코드">
			        	HTML 코드
			        </ps-tab>
			        <ps-tab heading="JS 코드">
			        	JS 코드
			        </ps-tab>
			    </ps-tabset>
			</div>
		</div>
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>