<!-- Vertical Wizard Modal -->
<div ng-controller="wizardMainCtrl">
<ps-modal id="vwizardModal" width="750px" backdrop="static">
	<ps-modal-header title="vwizardTitle">
	</ps-modal-header>
	<ps-modal-body>
		<ps-wizard id="vertical_wizard" direction="vertical" on-finished="onNotFormFinished">
			<ps-wizard-step title="step1Title" validate-step="validateNotFormStep1">First Content</ps-wizard-step>
			<ps-wizard-step title="step2Title" validate-step="validateNotFormStep2">Second Content</ps-wizard-step>
			<ps-wizard-step title="stepSummaryTitle" validate-step="validateNotFormStep3">요약화면</ps-wizard-step>
		</ps-wizard>
	</ps-modal-body>
 	<ps-modal-footer>
   		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   		<button type="button" class="btn btn-primary">Save changes</button>
 	</ps-modal-footer>
</ps-modal>
</div>