<!-- Vertical Wizard Modal -->
<div ng-controller="wizardMainCtrl">
<ps-modal id="vwizardModal" width="750px" backdrop="static">
	<div class="modal-header">
   		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   		<h4 class="modal-title" id="myModalLabel">{{vwizardTitle}}</h4>
 	</div>
 	<div class="modal-body">
   		세로 step 마법사
 	</div>
 	<div class="modal-footer">
   		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
   		<button type="button" class="btn btn-primary">Save changes</button>
 	</div>
</ps-modal>
</div>