<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start default -->
			<div class="row">
				Password
			</div>
			<div class="row">
				<form name="elementForm" class="form-horizontal">
					<div class="form-group">
						<label for="input_password" class="col-md-2 control-label">비밀번호</label>
	    				<div class="col-md-10 form-inline">
	      					<input name="input_password" type="password" ng-model="password" class="form-control" placeholder="비밀번호를 입력하세요." ps-password-validate required>
	    				</div>
			  		</div>
			  		<div class="form-group">
						<label for="input_password1" class="col-md-2 control-label">비밀번호</label>
	    				<div class="col-md-10">
	      					<input name="input_password1" type="password" ng-model="password1" class="form-control" placeholder="비밀번호를 입력하세요." ps-password-validate required>
	    				</div>
			  		</div>
		  		</form>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;form name="elementForm" class="form-horizontal"&gt;
  &lt;div class="form-group"&gt;
    &lt;label for="input_password" class="col-md-2 control-label"&gt;비밀번호&lt;/label&gt;
    &lt;div class="col-md-10 form-inline"&gt;
      &lt;input id="input_password" name="input_password" type="password" ng-model="password" class="form-control" placeholder="비밀번호를 입력하세요." ps-password-validate required&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  
  &lt;div class="form-group"&gt;
    &lt;label for="input_password1" class="col-md-2 control-label"&gt;비밀번호&lt;/label&gt;
    &lt;div class="col-md-10"&gt;
      &lt;input id="input_password1" name="input_password1" type="password" ng-model="password1" class="form-control" placeholder="비밀번호를 입력하세요." ps-password-validate required&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// comment js
Many
lines
of
code
							</pre>
	    				</ps-tab>
	  				</ps-tabset>
	  			</ps-hidden-content>
			</div>
		</div><!-- end default -->
		<div class="vspace-12" />
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>