<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start horizontal wizard -->
			<div class="row">
				<h5>Horizontal Wizard</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-wizard id="horizontal_wizard">
						<ps-wizard-step title="First Step">First Content</ps-wizard-step>
						<ps-wizard-step title="Second Step">Second Content</ps-wizard-step>
						<ps-wizard-step title="Step3">Step3 Content</ps-wizard-step>
						<ps-wizard-step title="Step4">Step4 Content</ps-wizard-step>
						<ps-wizard-step title="Step5">Step5 Content</ps-wizard-step>
						<ps-wizard-step title="요약">요약화면</ps-wizard-step>
					</ps-wizard>				
				</div>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;ps-wizard id="horizontal_wizard" options="defaultOptions"&gt;
  &lt;ps-step-title&gt;First Step&lt;/ps-step-title&gt;
  &lt;ps-step-content&gt;First Content&lt;/ps-step-content&gt;

  &lt;ps-step-title&gt;Second Step&lt;/ps-step-title&gt;
  &lt;ps-step-content&gt;Second Content&lt;/ps-step-content&gt;
&lt;/ps-wizard&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">

							</pre>
	    				</ps-tab>
	  				</ps-tabset>
	  			</ps-hidden-content>
			</div>
		</div><!-- end horizontal wizard -->
		<div class="vspace-12" />
		
		<div class="row"><!-- start vertical wizard -->
			<div class="row">
				<h5>Vertical Wizard</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-wizard id="horizontal_wizard" direction="vertical">
						<ps-wizard-step title="First Step">First Content</ps-wizard-step>
						<ps-wizard-step title="Second Step">Second Content</ps-wizard-step>
						<ps-wizard-step title="요약">요약화면</ps-wizard-step>
					</ps-wizard>
				</div>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;ps-wizard id="vertical_wizard" direction="vertical"&gt;
  &lt;ps-step-title&gt;First Step&lt;/ps-step-title&gt;
  &lt;ps-step-content&gt;First Content&lt;/ps-step-content&gt;

  &lt;ps-step-title&gt;Second Step&lt;/ps-step-title&gt;
  &lt;ps-step-content&gt;Second Content&lt;/ps-step-content&gt;
&lt;/ps-wizard&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">

							</pre>
	    				</ps-tab>
	  				</ps-tabset>
	  			</ps-hidden-content>
			</div>
		</div><!-- end vertical wizard -->
		<div class="vspace-12" />
		
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>