<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start sm modal -->
			<div class="row">
				<h5>SM Modal</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#smModal">
		  				sm modal
					</button>
				</div>
				
				<!-- SM Modal -->
				<ps-modal id="smModal" size="sm">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      		</div>
		      		<div class="modal-body">
		        		작은 모달창
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        		<button type="button" class="btn btn-primary">Save changes</button>
		      		</div>
		    	</ps-modal>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									is-bottom="true" on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#smModal"&gt;
      sm modal
    &lt;/button&gt;
  &lt;/div&gt;

  <!-- SM Modal -->
  &lt;ps-modal id="smModal" size="sm"&gt;
    &lt;div class="modal-header"&gt;
      &lt;button type="button" class="close" data-dismiss="modal"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;span class="sr-only"&gt;Close&lt;/span&gt;&lt;/button&gt;
      &lt;h4 class="modal-title" id="myModalLabel"&gt;Modal title&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="modal-body"&gt;
      작은 모달창
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
      &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
      &lt;button type="button" class="btn btn-primary"&gt;Save changes&lt;/button&gt;
    &lt;/div&gt;
  &lt;/ps-modal&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// js
							</pre>
	    				</ps-tab>
	  				</ps-tabset>
				</ps-hidden-content>
			</div>
		</div><!-- end sm modal -->
		<div class="vspace-12" />
		
		<div class="row"><!-- start modal -->
			<div class="row">
				<h5>Modal</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal">
		  				modal
					</button>
				</div>
				
				<!-- Modal -->
				<ps-modal id="modal">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      		</div>
		      		<div class="modal-body">
		        		모달창
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        		<button type="button" class="btn btn-primary">Save changes</button>
		      		</div>
		    	</ps-modal>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
						
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="col-md-12"&gt;
  &lt;ps-tree id="tree_contextmenu" options="treeContextOptions"&gt;&lt;/ps-tree&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// js
							</pre>
	    				</ps-tab>
	  				</ps-tabset>	
				</ps-hidden-content>		
			</div>
		</div><!-- end modal -->
		<div class="vspace-12" />
		
		<div class="row"><!-- start lg modal -->
			<div class="row">
				<h5>LG Modal</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#lgModal">
		  				lg modal
					</button>
				</div>
				
				<!-- LG Modal -->
				<ps-modal id="lgModal" size="lg">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      		</div>
		      		<div class="modal-body">
		        		큰 모달창
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        		<button type="button" class="btn btn-primary">Save changes</button>
		      		</div>
		    	</ps-modal>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="col-md-12"&gt;
  &lt;ps-tree id="tree_contextmenu" options="treeContextOptions"&gt;&lt;/ps-tree&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// js
							</pre>
	    				</ps-tab>
	  				</ps-tabset>		
				</ps-hidden-content>		
			</div>
		</div><!-- end lg modal -->
		<div class="vspace-12" />
		
		<div class="row"><!-- start backdrop modal -->
			<div class="row">
				<h5>Backdrop Modal</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#backdropModal">
		  				backdrop modal
					</button>
				</div>
				
				<!-- Backdrop Modal -->
				<ps-modal id="backdropModal" backdrop="static">
		      		<div class="modal-header">
		        		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        		<h4 class="modal-title" id="myModalLabel">Modal title</h4>
		      		</div>
		      		<div class="modal-body">
		        		Backdrop 모달창
		      		</div>
		      		<div class="modal-footer">
		        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        		<button type="button" class="btn btn-primary">Save changes</button>
		      		</div>
		    	</ps-modal>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="col-md-12"&gt;
  &lt;ps-tree id="tree_contextmenu" options="treeContextOptions"&gt;&lt;/ps-tree&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// js
							</pre>
	    				</ps-tab>
	  				</ps-tabset>
	  			</ps-hidden-content>					
			</div>
		</div><!-- end backdrop modal -->
		<div class="vspace-12" />
		
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>