<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start sm modal -->
			<div class="row">
				<h5>Panel</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-panel title="Panel Title" button-label="저장">
						Panel content
					</ps-panel>
				</div>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-down" collapse-icon="fa fa-caret-up"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#smModal"&gt;
      sm modal
    &lt;/button&gt;
  &lt;/div&gt;

  <!-- SM Modal -->
  &lt;ps-modal id="smModal" size="sm"&gt;
    &lt;div class="modal-header"&gt;
      &lt;button type="button" class="close" data-dismiss="modal"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;span class="sr-only"&gt;Close&lt;/span&gt;&lt;/button&gt;
      &lt;h4 class="modal-title" id="myModalLabel"&gt;Modal title&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="modal-body"&gt;
      작은 모달창
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
      &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
      &lt;button type="button" class="btn btn-primary"&gt;Save changes&lt;/button&gt;
    &lt;/div&gt;
  &lt;/ps-modal&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// js
							</pre>
	    				</ps-tab>
	  				</ps-tabset>
	  			</ps-hidden-content>				
			</div>
		</div><!-- end sm modal -->
		<div class="vspace-12"></div>
		
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>