<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start sm modal -->
			<div class="row">
				<h5>Panel</h5>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-panel title="Panel Title" button-label="저장">
						Panel content
					</ps-panel>
				</div>
			</div>
			<div class="row">
				<div>
				
					<!-- a 태그와 div 태그 붙여쓰면 nextSibling 이고 줄바꿈하거나 공백이 있으면 nextSibling.nextSibling -->
					<a href="javascript:void(0)" onclick="this.innerHTML=(this.nextSibling.nextSibling.style.display=='none')?'소스 닫기':'소스 보기'; this.nextSibling.nextSibling.style.display=(this.nextSibling.nextSibling.style.display=='none')?'block':'none';prettyPrint();" name="modal_sm_code">소스 보기</a>	
					<div style="display:none">
					
						<div id="modal_sm_code">
						
							<ps-tabset>
	    						<ps-tab heading="HTML코드">
	    							<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#smModal"&gt;
      sm modal
    &lt;/button&gt;
  &lt;/div&gt;

  <!-- SM Modal -->
  &lt;ps-modal id="smModal" size="sm"&gt;
    &lt;div class="modal-header"&gt;
      &lt;button type="button" class="close" data-dismiss="modal"&gt;&lt;span aria-hidden="true"&gt;&times;&lt;/span&gt;&lt;span class="sr-only"&gt;Close&lt;/span&gt;&lt;/button&gt;
      &lt;h4 class="modal-title" id="myModalLabel"&gt;Modal title&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="modal-body"&gt;
      작은 모달창
    &lt;/div&gt;
    &lt;div class="modal-footer"&gt;
      &lt;button type="button" class="btn btn-default" data-dismiss="modal"&gt;Close&lt;/button&gt;
      &lt;button type="button" class="btn btn-primary"&gt;Save changes&lt;/button&gt;
    &lt;/div&gt;
  &lt;/ps-modal&gt;
&lt;/div&gt;
									</pre>
	    						</ps-tab>
	    						<ps-tab heading="JS코드">
	    							<pre class="prettyprint linenums">
// js
									</pre>
	    						</ps-tab>
	  						</ps-tabset>
	  						
						</div>
						<a href="#modal_sm_code" onclick="this.parentNode.style.display='none'; this.parentNode.previousSibling.previousSibling.innerHTML='소스 보기'">소스 닫기</a>	
					</div>
				</div>
			</div>
		</div><!-- end sm modal -->
		<div class="vspace-12"></div>
		
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>