/* CSS crunched with Crunch - http://crunchapp.net/ */
/*
example)
.vspace-2 {
  .vspace(2px, 1px);
}
*/
/*
example)
.hspace-2 {
  .hspace(2px, 1px);
}
*/
/* 
position 기본값은 static이다.

example)
.right-bottom-position-200 {
  .right-bottom-position(fixed);
  width: 200px;
}
*/
/* 레이아웃 컴포넌트 할때 아래 스타일이 필요하다.
.label {
  top: 0;
  left: 0;
  padding: 0 3px 3px 0;
}

.endlabel {
  right: 0;
  bottom: 0;
  padding: 3px 0 0 3px;
}

.border-red-2 > .label, .border-red-2 > .endlabel{
  color: white;
  background-color: #D64078;
}
*/
/* Bootstrap (override)
----------------------------------*/
/* Bootstrap 관련 추가할 요소
----------------------------------*/
/* jquery-ui (override)
----------------------------------*/
/* jquery-ui (tabs)
----------------------------------*/
/* jqTree
----------------------------------*/
ul.jqtree-tree,
ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-bottom: 0;
  padding: 0;
}
ul.jqtree-tree {
  margin-left: 12px;
}
ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}
ul.jqtree-tree li.jqtree-ghost {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}
ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  background-image: url(../images/jqtree-circle.png);
  background-repeat: no-repeat;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  left: 2px;
}
ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #0000ff;
  height: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  left: 10px;
  width: 100%;
}
ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}
ul.jqtree-tree li.jqtree-folder.jqtree-closed {
  margin-bottom: 1px;
}
ul.jqtree-tree .jqtree-element {
  cursor: pointer;
  width: 100%;
  *width: auto;
  position: relative;
}
ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}
ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}
ul.jqtree-tree ul.jqtree_common {
  display: block;
  margin-left: 12px;
  margin-right: 0;
}
ul.jqtree-tree .jqtree-toggler:hover {
  color: #000;
}
ul.jqtree-tree .jqtree-toggler {
  display: block;
  position: absolute;
  left: -1.5em;
  top: 30%;
  *top: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: arial;
  border-bottom: none;
  color: #333;
}
ul.jqtree-tree span.jqtree-border {
  position: absolute;
  display: block;
  left: -2px;
  top: 0;
  border: solid 2px #0000ff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0;
}
ul.jqtree-tree li.jqtree-folder {
  margin-bottom: 4px;
}
ul.jqtree-tree li.jqtree-folder .jqtree-title {
  margin-left: 0;
}
ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px #0000ff;
}
ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}
ul.jqtree-tree .jqtree-title {
  color: #1C4257;
  vertical-align: middle;
}
span.jqtree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px;
}
ul.jqtree-tree li.jqtree-selected  > .jqtree-element,
ul.jqtree-tree li.jqtree-selected  > .jqtree-element:hover {
  background-color: #97BDD6;
  background: -webkit-gradient(linear, left top, left bottom, from(#bee0f5), to(#89afca));
  background: -moz-linear-gradient(top, #bee0f5, #89afca);
  background: -ms-linear-gradient(top, #bee0f5, #89afca);
  background: -o-linear-gradient(top, #bee0f5, #89afca);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* jqTree
----------------------------------*/
ul.jqtree-tree,
ul.jqtree-tree ul.jqtree_common {
  list-style: none outside;
  margin-bottom: 0;
  padding: 0;
}
ul.jqtree-tree {
  margin-left: 12px;
}
ul.jqtree-tree li.jqtree_common {
  clear: both;
  list-style-type: none;
}
ul.jqtree-tree li.jqtree-ghost {
  position: relative;
  z-index: 10;
  margin-right: 10px;
}
ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
  background-image: url(../images/jqtree-circle.png);
  background-repeat: no-repeat;
  height: 8px;
  width: 8px;
  position: absolute;
  top: -4px;
  left: 2px;
}
ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
  background-color: #0000ff;
  height: 2px;
  padding: 0;
  position: absolute;
  top: -1px;
  left: 10px;
  width: 100%;
}
ul.jqtree-tree li.jqtree-ghost span {
  display: block;
}
ul.jqtree-tree li.jqtree-folder.jqtree-closed {
  margin-bottom: 1px;
}
ul.jqtree-tree .jqtree-element {
  cursor: pointer;
  width: 100%;
  *width: auto;
  position: relative;
}
ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
  margin-left: 48px;
}
ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
  display: none;
}
ul.jqtree-tree ul.jqtree_common {
  display: block;
  margin-left: 12px;
  margin-right: 0;
}
ul.jqtree-tree .jqtree-toggler:hover {
  color: #000;
}
ul.jqtree-tree .jqtree-toggler {
  display: block;
  position: absolute;
  left: -1.5em;
  top: 30%;
  *top: 0;
  font-size: 12px;
  line-height: 12px;
  font-family: arial;
  border-bottom: none;
  color: #333;
}
ul.jqtree-tree span.jqtree-border {
  position: absolute;
  display: block;
  left: -2px;
  top: 0;
  border: solid 2px #0000ff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin: 0;
}
ul.jqtree-tree li.jqtree-folder {
  margin-bottom: 4px;
}
ul.jqtree-tree li.jqtree-folder .jqtree-title {
  margin-left: 0;
}
ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
  outline: dashed 1px #0000ff;
}
ul.jqtree-tree .jqtree-toggler.jqtree-closed {
  background-position: 0 0;
}
ul.jqtree-tree .jqtree-title {
  color: #1C4257;
  vertical-align: middle;
}
span.jqtree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px;
}
ul.jqtree-tree li.jqtree-selected  > .jqtree-element,
ul.jqtree-tree li.jqtree-selected  > .jqtree-element:hover {
  background-color: #97BDD6;
  background: -webkit-gradient(linear, left top, left bottom, from(#bee0f5), to(#89afca));
  background: -moz-linear-gradient(top, #bee0f5, #89afca);
  background: -ms-linear-gradient(top, #bee0f5, #89afca);
  background: -o-linear-gradient(top, #bee0f5, #89afca);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
/* jqGrid
----------------------------------*/
.fm-button-icon-right {
  padding-right: 1.9em;
}
.fm-button-icon-right .ui-icon {
  left: auto;
  right: .2em;
  margin-left: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.ui-jqgrid .selected-row,
div.ui-jqgrid .selected-row td {
  font-style: normal;
  border-left: 0 none;
}
#nData,
#pData {
  float: left;
  margin: 3px;
  padding: 0;
  width: 15px;
}
.fm-button-icon-left {
  padding-left: 1.9em;
}
.fm-button-icon-left .ui-icon {
  right: auto;
  left: .2em;
  margin-left: 0;
  position: absolute;
  top: 50%;
  margin-top: -8px;
}
.EditTable td textarea {
  width: auto;
  height: auto;
}
tr.ui-search-toolbar select {
  margin: 1px 0 0 0;
}
tr.ui-search-toolbar input {
  margin: 1px 0 0 0;
}
.fm-button {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: .4em .5em;
  text-decoration: none !important;
  cursor: pointer;
  position: relative;
  text-align: center;
  zoom: 1;
}
.ui-jqgrid .ui-search-table .ui-search-input  > input,
.ui-jqgrid .ui-search-table .ui-search-input  > select {
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-inline-del.ui-state-hover span,
.ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span,
.ui-inline-cancel.ui-state-hover span {
  margin: -1px;
}
.ui-jqdialog .ui-jqdialog-titlebar-close:hover,
.ui-jqdialog .ui-jqdialog-titlebar-close:focus {
  padding: 0;
}
.ui-th-rtl,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-rtl {
  border-right: 0 none;
}
.ui-search-menu {
  position: absolute;
  padding: 2px 5px;
}
.ui-jqgrid-dnd tr td {
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
  height: 20px;
}
.EditTable td input,
.EditTable td select,
.EditTable td textarea {
  margin: 0;
}
a.g-menu-item,
a.soptclass,
a.clearsearchclass {
  cursor: pointer;
}
.ui-th-ltr,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
  border-left: 0 none;
}
.ui-jqgrid {
  position: relative;
}
.ui-jqgrid .ui-search-table {
  padding: 0px 0px;
  border: 0px none;
  height: 20px;
  width: 100%;
}
.ui-jqgrid .ui-search-table .ui-search-oper {
  width: 20px;
}
.ui-jqgrid .ui-jqgrid-title-rtl {
  float: right;
  margin: .1em 0 .2em;
}
.ui-jqgrid .tree-wrap {
  float: left;
  position: relative;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
}
.ui-jqgrid .ui-userdata {
  border-left: 0 none;
  border-right: 0 none;
  height: 21px;
  overflow: hidden;
}
.ui-jqgrid .ui-pg-input {
  height: 13px;
  font-size: .8em;
  margin: 0;
}
.ui-jqgrid .ui-pg-button:hover {
  padding: 0;
}
.ui-jqgrid .ui-jqgrid-resize {
  height: 20px !important;
  position: relative;
  cursor: e-resize;
  display: inline;
  overflow: hidden;
}
.ui-jqgrid .jqgrid-overlay {
  display: none;
  z-index: 100;
}
.ui-jqgrid .ui-jqgrid-sdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-left: 0 none !important;
  border-top: 0 none !important;
  border-right: 0 none !important;
}
.ui-jqgrid .ui-icon-asc {
  margin-top: -3px;
  height: 12px;
}
.ui-jqgrid .ui-jqgrid-hdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  border-left: 0 none !important;
  border-top: 0 none !important;
  border-right: 0 none !important;
}
.ui-jqgrid tr.ui-search-toolbar th {
  border-top-width: 1px !important;
  border-top-color: inherit !important;
  border-top-style: ridge !important;
}
.ui-jqgrid .ui-i-desc {
  margin-top: 0;
  margin-left: 13px;
  height: 16px;
}
.ui-jqgrid .ui-jqgrid-hbox-rtl {
  float: right;
  padding-left: 20px;
}
.ui-jqgrid .ui-pg-table {
  position: relative;
  padding-bottom: 2px;
  width: auto;
  margin: 0;
}
.ui-jqgrid .ui-pg-table td {
  font-weight: normal;
  vertical-align: middle;
  padding: 1px;
}
.ui-jqgrid td.jqgrid-rownum {
  padding: 0 2px 0 2px;
  margin: 0;
  border: 0 none;
}
.ui-jqgrid tr.ui-row-rtl td {
  text-align: right;
  border-left-width: 1px;
  border-left-color: inherit;
  border-left-style: solid;
}
.ui-jqgrid tr.ui-row-ltr td {
  text-align: left;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
}
.ui-jqgrid tr.jqgrow {
  outline-style: none;
}
.ui-jqgrid tr.jqgrow td {
  font-weight: normal;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}
.ui-jqgrid .ui-jqgrid-htable {
  table-layout: fixed;
  margin: 0;
}
.ui-jqgrid .ui-jqgrid-htable th {
  height: 22px;
  padding: 0 2px 0 2px;
}
.ui-jqgrid .ui-jqgrid-htable th div {
  overflow: hidden;
  position: relative;
  height: 17px;
}
.ui-jqgrid .ui-th-subgrid {
  height: 20px;
}
.ui-jqgrid .ui-paging-info {
  font-weight: normal;
  height: 19px;
  margin-top: 3px;
  margin-right: 4px;
}
.ui-jqgrid .ui-jqgrid-sortable {
  cursor: pointer;
}
.ui-jqgrid .ui-i-asc {
  margin-top: 0;
  height: 16px;
}
.ui-jqgrid .loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: auto;
  z-index: 101;
  padding: 6px;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  display: none;
  border-width: 2px !important;
  font-size: 11px;
}
.ui-jqgrid .ui-subgrid {
  margin: 0;
  padding: 0;
  width: 100%;
}
.ui-jqgrid .ui-subgrid td.subgrid-cell {
  border-width: 0 0 1px 0;
}
.ui-jqgrid .ui-subgrid tr.ui-subtblcell td {
  height: 18px;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}
.ui-jqgrid .ui-subgrid td.subgrid-data {
  border-top: 0 none !important;
}
.ui-jqgrid .ui-subgrid table {
  table-layout: fixed;
}
.ui-jqgrid td textarea {
  width: auto;
  height: auto;
}
.ui-jqgrid .ui-state-disabled:hover {
  padding: 1px;
}
.ui-jqgrid .ui-jqgrid-pager {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-bottom: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 11px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div {
  padding: 1px 0;
  float: left;
  position: relative;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-div span.ui-icon {
  float: left;
  margin: 0 2px;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
  cursor: pointer;
}
.ui-jqgrid tr.footrow-rtl td {
  text-align: right;
  border-left-width: 1px;
  border-left-color: inherit;
  border-left-style: solid;
}
.ui-jqgrid tr.footrow-ltr td {
  text-align: left;
  border-right-width: 1px;
  border-right-color: inherit;
  border-right-style: solid;
}
.ui-jqgrid .ui-jqgrid-btable {
  table-layout: fixed;
  margin: 0;
  outline-style: none;
}
.ui-jqgrid .ui-jqgrid-btable .ui-sgcollapsed span {
  display: block;
}
.ui-jqgrid .ui-jqgrid-resize-rtl {
  float: left;
  margin: -2px 0 -1px -3px;
}
.ui-jqgrid .ui-jqgrid-resize-ltr {
  float: right;
  margin: -2px -2px -2px 0;
}
.ui-jqgrid .tree-minus {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}
.ui-jqgrid .ui-separator {
  height: 18px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 1px;
  float: right;
}
.ui-jqgrid .ui-pg-selbox {
  font-size: .8em;
  line-height: 18px;
  display: block;
  height: 18px;
  margin: 0;
}
.ui-jqgrid tr.jqgfirstrow td {
  padding: 0 2px 0 2px;
  border-right-width: 1px;
  border-right-style: solid;
}
.ui-jqgrid .ui-icon-desc {
  margin-top: 3px;
  height: 12px;
}
.ui-jqgrid .ui-jqgrid-hbox {
  float: left;
  padding-right: 20px;
}
.ui-jqgrid .ui-jqgrid-view {
  position: relative;
  left: 0;
  top: 0;
  padding: 0;
  font-size: 11px;
}
.ui-jqgrid > .ui-resizable-se {
  bottom: -3px;
  right: -3px;
}
.ui-jqgrid .ui-jqgrid-toppager {
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-top: 0 none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 25px !important;
  white-space: nowrap;
  overflow: hidden;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div {
  padding: 1px 0;
  float: left;
  position: relative;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-div span.ui-icon {
  float: left;
  margin: 0 2px;
}
.ui-jqgrid .ui-jqgrid-toppager .ui-pg-button {
  cursor: pointer;
}
.ui-jqgrid tr.jqfoot td {
  font-weight: bold;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}
.ui-jqgrid .ui-grid-ico-sort {
  overflow: hidden;
  position: absolute;
  display: inline;
  cursor: pointer !important;
}
.ui-jqgrid .ui-jqgrid-titlebar-close:hover {
  padding: 0;
}
.ui-jqgrid .ui-jqgrid-titlebar-close {
  position: absolute;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  cursor: pointer;
}
.ui-jqgrid .ui-jqgrid-titlebar-close span {
  display: block;
  margin: 1px;
}
.ui-jqgrid .ui-jqgrid-title {
  float: left;
  margin: .1em 0 .2em;
}
.ui-jqgrid .ui-ellipsis {
  text-overflow: ellipsis;
}
.ui-jqgrid .ui-sort-rtl {
  left: 0;
}
.ui-jqgrid .treeclick {
  cursor: pointer;
}
.ui-jqgrid tr.footrow td {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  height: 21px;
  padding: 0 2px 0 2px;
  border-top-width: 1px;
  border-top-color: inherit;
  border-top-style: solid;
}
.ui-jqgrid .ui-jqgrid-resize-mark {
  width: 2px;
  left: 0;
  background-color: #777;
  cursor: e-resize;
  cursor: col-resize;
  position: absolute;
  top: 0;
  height: 100px;
  overflow: hidden;
  display: none;
  border: 0 none;
  z-index: 99999;
}
.ui-jqgrid .ui-jqgrid-bdiv {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: auto;
  text-align: left;
}
.ui-jqgrid .ui-th-div-ie {
  white-space: nowrap;
  zoom: 1;
  height: 17px;
}
.ui-jqgrid .tree-leaf {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}
.ui-jqgrid .tree-plus {
  position: absolute;
  height: 18px;
  width: 18px;
  overflow: hidden;
}
.ui-jqgrid .ui-pg-button {
  height: 19px !important;
}
.ui-jqgrid .ui-pg-button span {
  display: block;
  margin: 1px;
  float: left;
}
.ui-jqgrid .ui-jqgrid-ftable {
  table-layout: fixed;
  margin-bottom: 0;
}
.ui-jqgrid .ui-jqgrid-titlebar {
  padding: .3em .2em .2em .3em;
  position: relative;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
}
.ui-jqgrid .tree-wrap-rtl {
  float: right;
}
.ui-jqgrid .tree-wrap-ltr {
  float: left;
}
.ui-jqgrid .ui-pager-control {
  position: relative;
}
.ui-jqgrid tr.jqgroup {
  outline-style: none;
}
.ui-jqgrid tr.jqgroup td {
  font-weight: normal;
  overflow: hidden;
  white-space: pre;
  height: 22px;
  padding: 0 2px 0 2px;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
}
.ui-jqdialog-content,
.ui-jqdialog .ui-jqdialog-content {
  border: 0;
  padding: .3em .2em;
  background: none;
  height: auto;
}
.ui-first-th-rtl {
  border-left: 1px solid;
}
.ui-first-th-ltr {
  border-right: 1px solid;
}
.ui-jqdialog-content .data-line {
  padding-top: .1em;
  border: 0 none;
}
.ui-jqdialog-content input.FormElement {
  padding: .3em;
}
.ui-jqdialog-content .CaptionTD {
  vertical-align: middle;
  border: 0 none;
  padding: 2px;
  white-space: nowrap;
}
.ui-jqdialog-content td.navButton {
  text-align: center;
  border-left: 0 none;
  border-top: 0 none;
  border-right: 0 none;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ui-jqdialog-content td.EditButton {
  text-align: right;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  padding-bottom: 5px;
  padding-top: 5px;
}
.ui-jqdialog-content .EditTable {
  width: 100%;
  margin-bottom: 0;
}
.ui-jqdialog-content .FormGrid {
  margin: 0;
}
.ui-jqdialog-content .form-view-data {
  white-space: pre;
}
.ui-jqdialog-content select.FormElement {
  padding: .3em;
}
.ui-jqdialog-content .DelTable {
  width: 100%;
  margin-bottom: 0;
}
.ui-jqdialog-content .DataTD {
  padding: 2px;
  border: 0 none;
  vertical-align: top;
}
.ui-th-column,
.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-top: 0 none;
  border-bottom: 0 none;
}
.ui-jqdialog {
  display: none;
  width: 300px;
  position: absolute;
  padding: .2em;
  font-size: 11px;
  overflow: visible;
}
.ui-jqdialog .ui-jqconfirm {
  padding: .4em 1em;
  border-width: 3px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  overflow: visible;
  display: none;
  height: 80px;
  width: 220px;
  text-align: center;
}
.ui-jqdialog > .ui-resizable-se {
  bottom: -3px;
  right: -3px;
}
.ui-jqdialog .ui-jqdialog-titlebar-close {
  position: absolute;
  top: 50%;
  width: 19px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 18px;
  cursor: pointer;
}
.ui-jqdialog .ui-jqdialog-titlebar-close span {
  display: block;
  margin: 1px;
}
.ui-jqdialog .ui-jqdialog-title {
  margin: .1em 0 .2em;
}
.ui-jqdialog .ui-jqdialog-titlebar {
  padding: .3em .2em;
  position: relative;
}
* html .jqgrid-overlay {
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}
* .jqgrid-overlay iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}
* iframe.jqm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: expression(this.parentNode.offsetWidth+'px');
  height: expression(this.parentNode.offsetHeight+'px');
}
.ui-jqgrid td input,
.ui-jqgrid td select .ui-jqgrid td textarea {
  margin: 0;
}
/* jqGrid (smooth)
----------------------------------*/
.smooth .widget-header .ui-jqdialog-title {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.smooth .ui-jqdialog-content .formdata,
.smooth .ui-jqdialog .ui-jqdialog-content .formdata {
  font-size: 13px;
  padding: 6px 12px;
}
.smooth th[aria-selected=true] {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#eff3f8), to(#e3e7ed));
  background-image: -webkit-linear-gradient(top, #eff3f8, 0%, #e3e7ed, 100%);
  background-image: -moz-linear-gradient(top, #eff3f8 0, #e3e7ed 100%);
  background-image: linear-gradient(to bottom, #eff3f8 0, #e3e7ed 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
}
.smooth th[aria-selected=true] .ui-jqgrid-sortable {
  color: #307ecc;
}
.smooth .ui-jqgrid-hdiv .ui-jqgrid-htable {
  border-top: 0;
  border-top: 1px solid #e1e1e1;
}
.smooth .fm-button:not(.btn) {
  background-color: #abbac3;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: 28px;
  padding: 0 12px 1px;
  margin: 0 8px;
  position: relative;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all .15s;
  transition: all .15s;
  vertical-align: middle;
}
.smooth .EditTable {
  background-color: #eff3f8;
  border-top: 1px solid #d6e1ea !important;
  padding: 8px;
}
.smooth .EditTable tr:first-child {
  display: none;
}
.smooth .EditTable .navButton .fm-button:hover {
  background-color: transparent;
}
.smooth .EditTable .navButton .fm-button:hover [class*="icon-"] {
  color: #699ab5;
  border-color: #699ab5;
}
.smooth .EditTable .navButton .fm-button {
  float: none !important;
  width: auto !important;
  margin: 1px 1px 2px !important;
  background-color: transparent;
  border-radius: 100%;
}
.smooth .EditTable .navButton .fm-button [class*="icon-"] {
  display: inline-block;
  color: #999;
  border: 1px solid #AAA;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 100%;
  background-color: #FFF;
}
.smooth .EditTable .navButton .fm-button:focus {
  outline: 0;
}
.smooth .ui-icon-cancel:before {
  content: "\f00d";
}
.smooth .ui-icon-pencil {
  color: #478fca;
}
.smooth .ui-icon {
  text-indent: 0;
  color: #307ecc;
  float: none;
  right: 2px;
  position: absolute;
}
.smooth .ui-jqgrid-labels th[id*="_cb"]:first-child > div {
  padding-top: 0;
  text-align: center !important;
}
.smooth .ui-jqgrid .ui-jqgrid-view,
.smooth .ui-jqgrid .ui-paging-info,
.smooth .ui-jqgrid .ui-pg-table,
.smooth .ui-jqgrid .ui-pg-selbox {
  font-size: 13px;
}
.smooth .fm-button {
  margin: 0 4px;
}
.smooth .ui-icon-trash:before {
  content: "\f014";
}
.smooth .ui-pg-table > tbody > tr > .ui-pg-button.ui-state-disabled .ui-icon {
  color: #b0b0b0;
  background-color: #f7f7f7;
  border-color: #DDD;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.smooth .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon:hover {
  color: #699ab5;
  border-color: #699ab5;
}
.smooth .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon {
  display: inline-block;
  padding: 0;
  width: 24px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  position: static;
  float: none;
  margin: 0 2px !important;
  color: #808080;
  border: 1px solid #CCC;
  background-color: #FFF;
  border-radius: 100%;
}
.smooth .ui-pg-table > tbody > tr > .ui-pg-button > .ui-icon:before {
  width: 20px;
  text-align: center;
  display: inline-block;
}
.smooth .ui-pg-table .navtable .ui-corner-all {
  border-radius: 0;
}
.smooth .FormGrid .EditTable {
  background-color: #FFF;
  border-top: none !important;
  padding: 0;
}
.smooth .FormGrid .EditTable tr:first-child {
  display: none;
}
.smooth .ui-icon-trash {
  color: #dd5a43;
}
.smooth .ui-jqgrid-btable input,
.smooth .ui-jqgrid-btable textarea,
.smooth .ui-jqgrid-btable select {
  padding: 2px;
  width: auto;
  max-width: 100%;
  margin-bottom: 0;
}
.smooth .ui-jqgrid-sortable:hover {
  color: #547ea8;
}
.smooth .ui-jqgrid-sortable {
  padding-left: 4px;
  font-size: 13px;
  color: #777;
  font-weight: bold;
}
.smooth .ui-jqgrid tr.jqgrow,
.smooth .ui-jqgrid tr.ui-row-ltr,
.smooth .ui-jqgrid tr.ui-row-rtl {
  border: 0;
}
.smooth .ui-icon-cancel {
  color: #dd5a43;
}
.smooth .ui-icon-pencil:before {
  content: "\f040";
}
.smooth .ui-state-disabled {
  color: #BBB;
}
.smooth .ui-jqgrid-btable .ui-widget-content.ui-state-hover {
  background-image: none;
  background-color: #eff4f7;
  opacity: 1;
}
.smooth .ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
  background-color: #e4efc9;
}
.smooth .ui-jqgrid-btable select {
  padding: 1px;
  height: 25px;
  line-height: 25px;
}
.smooth .ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
  background-image: none;
  background-color: #f9f9f9;
  opacity: 1;
}
.smooth .ui-jqdialog-content,
.smooth .ui-jqdialog .ui-jqdialog-content {
  font-size: 13px;
  padding: 4px 0 0;
}
.smooth .ui-jqgrid-view > .ui-jqgrid-titlebar {
  height: 40px;
  line-height: 24px;
  color: #FFF;
  background: #307ecc;
  padding: 0;
  font-size: 15px;
}
.smooth .ui-jqgrid .ui-pg-button:hover {
  padding: 1px;
}
.smooth .ui-jqgrid .ui-pg-input {
  font-size: inherit;
  width: 24px;
  height: 20px;
  line-height: 16px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
.smooth .ui-jqgrid .ui-jqgrid-title-rtl {
  float: right;
  margin: 8px;
}
.smooth .ui-jqgrid .ui-jqgrid-hdiv {
  background-color: #eff3f8;
  border: 1px solid #d3d3d3;
  border-width: 1px 0 0 1px;
  line-height: 15px;
  font-weight: bold;
  color: #777;
  text-shadow: none;
}
.smooth .ui-jqgrid .ui-jqgrid-labels {
  border-bottom: 0;
  background: #f2f2f2;
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#f8f8f8), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f8f8f8, 0%, #ececec, 100%);
  background-image: -moz-linear-gradient(top, #f8f8f8 0, #ececec 100%);
  background-image: linear-gradient(to bottom, #f8f8f8 0, #ececec 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
  padding: 0 !important;
  border-left: 1px solid #e1e1e1 !important;
}
.smooth .ui-jqgrid .ui-jqgrid-labels th {
  border-right: 1px solid #e1e1e1 !important;
  text-align: left !important;
}
.smooth .ui-jqgrid .ui-search-toolbar {
  border-top: 1px solid #e1e1e1;
}
.smooth .ui-jqgrid .ui-jqgrid-htable thead {
  background-color: #eff3f8;
}
.smooth .ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
  height: 45px !important;
}
.smooth .ui-jqgrid .ui-jqgrid-htable th div {
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: visible;
}
.smooth .ui-jqgrid .loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: auto;
  height: auto;
  z-index: 101;
  padding: 6px;
  margin: 5px;
  text-align: center;
  display: none;
  font-weight: bold;
  font-size: 12px;
  background-color: #FFF;
  border: 2px solid #8eb8d1;
  color: #e2b018;
}
.smooth .ui-jqgrid .ui-jqgrid-btable {
  border-left: 1px solid #e1e1e1;
}
.smooth .ui-jqgrid .ui-jqgrid-pager {
  line-height: 15px;
  height: 55px;
  padding-top: 3px !important;
  padding-bottom: 5px !important;
  background-color: #eff3f8 !important;
  border-bottom: 1px solid #e1e1e1 !important;
  border-top: 1px solid #e1e1e1 !important;
}
.smooth .ui-jqgrid .ui-pg-selbox {
  display: block;
  height: 24px;
  width: 60px;
  margin: 0;
  padding: 1px;
  line-height: normal;
}
.smooth .ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
  border-right: 0;
  border-left: 1px solid #e1e1e1;
}
.smooth .ui-jqgrid .ui-jqgrid-toppager {
  height: auto !important;
  background-color: #eff3f8;
  border-bottom: 1px solid #e1e1e1 !important;
}
.smooth .ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
  border-left-color: #c7d3a9;
}
.smooth .ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
  border-right-color: #c7d3a9;
}
.smooth .ui-jqgrid .ui-jqgrid-title {
  float: left;
  margin: 8px;
}
.smooth .ui-jqgrid .ui-jqgrid-bdiv {
  border-top: 1px solid #e1e1e1;
}
.smooth .ui-jqgrid .ui-pg-button .ui-separator {
  margin-left: 4px;
  margin-right: 4px;
  border-color: #c9d4db;
}
.smooth .ui-jqgrid .jqgrow .editable {
  max-width: 90%;
  max-width: calc(92%) !important;
}
.smooth .ui-jqgrid .ui-pager-control {
  height: 50px;
  position: relative;
  padding-left: 9px;
  padding-right: 9px;
}
.smooth .ui-jqdialog-content .searchFilter .add-group,
.smooth .ui-jqdialog-content .searchFilter .add-rule,
.smooth .ui-jqdialog-content .searchFilter .delete-group {
  margin-left: 4px !important;
  font-size: 15px !important;
}
.smooth .ui-jqdialog-content input.FormElement {
  width: auto;
}
.smooth .ui-jqdialog-content .CaptionTD {
  font-size: 12px;
  text-align: right;
  color: #666;
}
.smooth .ui-jqdialog-content td.EditButton {
  padding: 8px;
}
.smooth .ui-jqdialog-content .searchFilter .delete-rule:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: #b74635;
  opacity: 1;
}
.smooth .ui-jqdialog-content .searchFilter .queryresult {
  margin-bottom: 11px;
}
.smooth .ui-jqdialog-content .searchFilter .queryresult td.query {
  padding: 6px 11px;
  border: 1px solid #e1e1e1;
  background-color: #eee;
}
.smooth .ui-jqdialog-content .searchFilter .queryresult td.query:empty {
  display: none;
}
.smooth .ui-jqdialog-content .searchFilter table {
  margin-left: 4px;
}
.smooth .ui-jqdialog-content .searchFilter .input-elm {
  margin-bottom: 0;
  height: 18px;
  line-height: 18px;
  width: 95% !important;
  padding-left: 1px;
  padding-right: 1px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.smooth .ui-jqdialog-content .searchFilter .delete-rule {
  border: 0;
  background-color: #FFF;
  color: #d15b47;
  font-size: 20px;
  width: 22px;
  line-height: 10px;
  padding: 0;
  text-shadow: none !important;
  display: inline-block;
  -webkit-transition: all .1s;
  transition: all .1s;
  opacity: .85;
}
.smooth .ui-jqdialog-content .searchFilter tr td {
  padding: 5px 0;
}
.smooth .ui-jqdialog-content .searchFilter select {
  padding: 1px;
  height: 26px;
  line-height: 26px;
  width: auto;
  max-width: 95%;
  margin-bottom: 0;
}
.smooth .ui-jqdialog-content .FormData:last-child {
  border-bottom: 0;
}
.smooth .ui-jqdialog-content select.FormElement {
  padding: 1px;
  height: 25px;
  line-height: 25px;
  width: auto;
}
.smooth .ui-jqdialog-content .FormData {
  border-bottom: 1px dotted #e8e8e8;
}
.smooth .ui-jqdialog-content .FormData > td {
  padding-top: 6px;
  padding-bottom: 6px;
}
.smooth .ui-jqdialog-content[id*="alertcnt_"],
.smooth .ui-jqdialog .ui-jqdialog-content[id*="alertcnt_"] {
  padding: 8px 11px;
}
.smooth .ui-icon-disk {
  color: #69aa46;
}
.smooth .ui-pg-div .ui-icon {
  display: inline-block;
  width: 18px;
  float: none;
  position: static;
  text-align: center;
  opacity: .85;
  -webkit-transition: all .12s;
  transition: all .12s;
  margin: 0 1px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 17px;
}
.smooth .ui-pg-div .ui-icon:before {
  font-family: FontAwesome;
  display: inline;
}
.smooth .ui-pg-div .ui-icon:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
  position: static;
  margin: 0 1px;
}
.smooth .ui-icon-asc:before {
  content: "\f0d8";
}
.smooth .rtl .ui-icon {
  right: auto;
  left: 2px;
}
.smooth .ui-jqgrid tr.ui-row-ltr td,
.smooth .ui-jqgrid tr.ui-row-rtl td {
  border-bottom: 1px solid #e1e1e1;
  padding: 6px 4px;
  border-color: #e1e1e1;
}
.smooth .fm-button.ui-state-default:hover {
  background-color: #8b9aa3;
}
.smooth .EditTable .navButton .fm-button.ui-state-disabled [class*="icon-"],
.smooth .EditTable .navButton .fm-button.ui-state-disabled:hover [class*="icon-"] {
  color: #BBB;
  border-color: #CCC;
  -moz-transform: scale(0.88);
  -webkit-transform: scale(0.88);
  -o-transform: scale(0.88);
  -ms-transform: scale(0.88);
  transform: scale(0.88);
}
.smooth .ui-jqdialog-content .form-view-data,
.smooth .ui-jqdialog .ui-jqdialog-content .form-view-data {
  vertical-align: middle;
  font-size: 13px;
}
.smooth .ui-grid-ico-sort:before {
  display: inline;
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 12px;
}
.smooth .ui-jqgrid-titlebar {
  position: relative;
  top: 1px;
  z-index: 1;
}
.smooth .ui-jqdialog .ui-widget-header {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #eeeeee, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0, #eeeeee 100%);
  background-image: linear-gradient(to bottom, #ffffff 0, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-image: none;
  border-bottom: 1px solid solid;
  color: #669fc7;
  min-height: 38px;
  position: relative;
}
.smooth .ui-jqdialog .ui-widget-header .widget-header {
  border-bottom: 0;
}
.smooth .ui-jqdialog .ui-widget-header .ui-jqdialog-title {
  line-height: 38px;
  margin: 0;
  padding: 0;
  padding-left: 12px;
  text-align: left;
}
.smooth .ui-jqdialog .ui-jqdialog-titlebar {
  border-bottom: 1px solid #DDD !important;
}
.smooth .ui-state-error {
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
  margin: 4px 4px 8px;
  padding: 6px 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
.smooth .ui-icon-disk:before {
  content: "\f00c";
}
/* Multiselect
----------------------------------*/
.ui-multiselect {
  border: solid 1px;
  font-size: 0.8em;
}
.ui-multiselect .search {
  float: left;
  padding: 4px;
}
.ui-multiselect .ui-state-hover {
  border: none;
}
.ui-multiselect ul {
  -moz-user-select: none;
}
.ui-multiselect .ui-widget-header {
  border: none;
  font-size: 11px;
  margin-bottom: 1px;
}
.ui-multiselect .count {
  float: left;
  padding: 7px;
}
.ui-multiselect div.available {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  border-left: 1px solid;
}
.ui-multiselect li.ui-draggable-dragging {
  padding-left: 10px;
}
.ui-multiselect .ui-state-default {
  border: none;
  margin-bottom: 1px;
  position: relative;
  padding-left: 20px;
}
.ui-multiselect div.selected {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}
.ui-multiselect input.search {
  height: 14px;
  padding: 1px;
  opacity: 0.5;
  margin: 4px;
  width: 100px;
}
.ui-multiselect .add-all {
  float: right;
  padding: 7px;
}
.ui-multiselect ul.available {
  position: relative;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background: #fff;
  margin: 0;
  list-style: none;
  border: 0;
  width: 100%;
}
.ui-multiselect ul.available li {
  padding-left: 10px;
}
.ui-multiselect li {
  margin: 0;
  padding: 0;
  cursor: default;
  line-height: 20px;
  height: 20px;
  font-size: 11px;
  list-style: none;
}
.ui-multiselect li span.ui-icon-arrowthick-2-n-s {
  position: absolute;
  left: 2px;
}
.ui-multiselect li a {
  color: #999;
  text-decoration: none;
  padding: 0;
  display: block;
  float: left;
  cursor: pointer;
}
.ui-multiselect li a.action {
  position: absolute;
  right: 2px;
  top: 2px;
}
.ui-multiselect .remove-all {
  float: right;
  padding: 7px;
}
.ui-multiselect ul.selected {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  background: #fff;
  margin: 0;
  list-style: none;
  border: 0;
  position: relative;
  width: 100%;
}
/* SearchFilter
----------------------------------*/
.ui-searchFilter {
  display: none;
  position: absolute;
  z-index: 770;
  overflow: visible;
}
.ui-searchFilter .divider hr {
  margin: 1px;
}
.ui-searchFilter table {
  position: relative;
  margin: 0em;
  width: auto;
}
.ui-searchFilter table td {
  margin: 0em;
  padding: 1px;
}
.ui-searchFilter .ui-state-default {
  cursor: pointer;
}
.ui-searchFilter table td input,
.ui-searchFilter table td select {
  margin: 0.1em;
}
/* * {
  margin: 0;
  padding: 0;
} */
body {
  background: #BBCFE8;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
}
header,
footer,
section,
aside,
nav,
article,
div.header,
div.footer,
div.section,
div.aside,
div.nav,
div.article {
  display: block;
}
#wrap {
  width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  /* curved border radius */
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* header 영역
----------------------------------*/
/*header#header, div#header*/
#header {
  height: 50px;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}
#logo {
  max-width: 250px;
  height: 100%;
}
/*nav#nav, div#nav*/
#nav {
  height: 100%;
  margin: 0 auto;
  -webkit-flex: 1;
  flex: 1;
}
#user {
  width: 300px;
  height: 100%;
}
/* main 영역
----------------------------------*/
#main {
  margin: 0;
  display: -webkit-flex;
  display: flex;
}
#left_sidebar {
  width: 300px;
}
#center {
  margin: 0 auto;
  -webkit-flex: 1;
  flex: 1;
}
#right_sidebar {
  display: none;
}
/* left_sidebar 영역
----------------------------------*/
#left_top {
  display: none;
}
/* center 영역
----------------------------------*/
#breadcrumbs {
  height: 30px;
}
#bottom {
  display: none;
}
/* right_sidebar 영역
----------------------------------*/
#right_top {
  display: none;
}
/* footer 영역
----------------------------------*/
/*footer#footer, div#footer*/
#footer {
  height: 50px;
  margin: 0 auto;
}
a.sidebar-link {
  display: none;
}
a.nav-link {
  display: none;
}
/* Phones
----------------------------------*/
@media screen and (max-width: 767px) {
  #wrap {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  #main {
    display: block;
  }
  #sidebar {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    left: -85%;
    background: rgba(0, 0, 0, 0.1);
  }
  #wrap.active {
    left: 85%;
  }
  #right-columns {
    width: auto;
  }
}
/* Tablets
----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  #sidebar {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: -50%;
    background: rgba(0, 0, 0, 0.1);
  }
  #main {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    overflow: visible;
  }
  #main.active {
    left: 50%;
  }
}
/* Phones & Tablets 
----------------------------------*/
@media screen and (max-width: 991px) {
  body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-size: 2em;
  }
  #wrap {
    width: 100%;
  }
  a.sidebar-link {
    float: left;
    display: block;
    padding: 0 1em;
  }
  a.nav-link {
    float: right;
    display: block;
    padding: 0 1em;
  }
  #header {
    top: 0;
  }
  #nav {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    top: auto;
    overflow: hidden;
    max-height: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  #nav.active {
    max-height: 55em;
  }
}
/* Desktops
----------------------------------*/
/*
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
}
*/
/* Wide Desktops
----------------------------------*/
/*
@media screen and (min-width: 1200px) {
  
}
*/
