/*
example)
.vspace-2 {
  .vspace(2px, 1px);
}
*/
/*
example)
.hspace-2 {
  .hspace(2px, 1px);
}
*/
/* 
position 기본값은 static이다.

example)
.right-bottom-position-200 {
  .right-bottom-position(fixed);
  width: 200px;
}
*/
/* 레이아웃 컴포넌트 할때 아래 스타일이 필요하다.
.label {
  top: 0;
  left: 0;
  padding: 0 3px 3px 0;
}

.endlabel {
  right: 0;
  bottom: 0;
  padding: 3px 0 0 3px;
}

.border-red-2 > .label, .border-red-2 > .endlabel{
  color: white;
  background-color: #D64078;
}
*/
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-22 {
  font-size: 22px;
}
.font-sm {
  font-size: 0.5em;
}
.font-md {
  font-size: 0.875em;
}
.font-lg {
  font-size: 1.875em;
}
.font-xlg {
  font-size: 2.5em;
}
.font-black {
  color: #000000;
}
.font-white {
  color: #FFFFFF;
}
.font-style-normal {
  font-style: normal;
}
.font-style-italic {
  font-style: italic;
}
.font-style-oblique {
  font-style: oblique;
}
.font-weight-normal {
  font-weight: normal;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-900 {
  font-weight: 900;
}
.border-2 {
  border: 2px solid #000000;
}
.border-4 {
  border: 4px solid #000000;
}
.border-red-2 {
  border: 2px solid #d64937;
}
.border-red-4 {
  border: 4px solid #d64937;
}
/* space
----------------------------------*/
.space {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
}
.vspace-xs,
.vspace-sm,
.vspace-md,
.vspace-lg {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  display: none;
  margin: 12px 0;
}
.space-2 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px;
}
.vspace-2,
.vspace-xs-2,
.vspace-sm-2,
.vspace-md-2,
.vspace-lg-2 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 2px 0 1px 0;
  /*
    max-height:1px;
    min-height:1px;
    overflow:hidden;
    margin:12px 0;
    margin:2px 0 1px 0;
    */
}
.space-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px;
}
.vspace-4,
.vspace-xs-4,
.vspace-sm-4,
.vspace-md-4,
.vspace-lg-4 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 4px 0 3px 0;
}
.space-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px;
}
.vspace-6,
.vspace-xs-6,
.vspace-sm-6,
.vspace-md-6,
.vspace-lg-6 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 6px 0 5px 0;
}
.space-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px;
}
.vspace-8,
.vspace-xs-8,
.vspace-sm-8,
.vspace-md-8,
.vspace-lg-8 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 8px 0 7px 0;
}
.space-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px;
}
.vspace-10,
.vspace-xs-10,
.vspace-sm-10,
.vspace-md-10,
.vspace-lg-10 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 10px 0 9px 0;
}
.space-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px;
}
.vspace-12,
.vspace-xs-12,
.vspace-sm-12,
.vspace-md-12,
.vspace-lg-12 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 12px 0 11px 0;
}
.space-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px;
}
.vspace-14,
.vspace-xs-14,
.vspace-sm-14,
.vspace-md-14,
.vspace-lg-14 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 14px 0 13px 0;
}
.space-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px;
}
.vspace-16,
.vspace-xs-16,
.vspace-sm-16,
.vspace-md-16,
.vspace-lg-16 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 16px 0 15px 0;
}
.space-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px;
}
.vspace-18,
.vspace-xs-18,
.vspace-sm-18,
.vspace-md-18,
.vspace-lg-18 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 18px 0 17px 0;
}
.space-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px;
}
.vspace-20,
.vspace-xs-20,
.vspace-sm-20,
.vspace-md-20,
.vspace-lg-20 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 20px 0 19px 0;
}
.space-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px;
}
.vspace-22,
.vspace-xs-22,
.vspace-sm-22,
.vspace-md-22,
.vspace-lg-22 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 22px 0 21px 0;
}
.space-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px;
}
.vspace-24,
.vspace-xs-24,
.vspace-sm-24,
.vspace-md-24,
.vspace-lg-24 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 24px 0 23px 0;
}
.space-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px;
}
.vspace-26,
.vspace-xs-26,
.vspace-sm-26,
.vspace-md-26,
.vspace-lg-26 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 26px 0 25px 0;
}
.space-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px;
}
.vspace-28,
.vspace-xs-28,
.vspace-sm-28,
.vspace-md-28,
.vspace-lg-28 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 28px 0 27px 0;
}
.space-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px;
}
.vspace-30,
.vspace-xs-30,
.vspace-sm-30,
.vspace-md-30,
.vspace-lg-30 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 30px 0 29px 0;
}
.space-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px;
}
.vspace-32,
.vspace-xs-32,
.vspace-sm-32,
.vspace-md-32,
.vspace-lg-32 {
  max-height: 1px;
  min-height: 1px;
  overflow: hidden;
  margin: 12px 0;
  margin: 32px 0 31px 0;
}
.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
/* cursor
----------------------------------*/
.auto {
  cursor: auto;
}
.default {
  cursor: default;
}
.none {
  cursor: none;
}
.context-menu {
  cursor: context-menu;
}
.help {
  cursor: help;
}
.pointer {
  cursor: pointer;
}
.progress {
  cursor: progress;
}
.wait {
  cursor: wait;
}
.cell {
  cursor: cell;
}
.crosshair {
  cursor: crosshair;
}
.text {
  cursor: text;
}
.vertical-text {
  cursor: vertical-text;
}
.alias {
  cursor: alias;
}
.copy {
  cursor: copy;
}
.move {
  cursor: move;
}
.no-drop {
  cursor: no-drop;
}
.not-allowed {
  cursor: not-allowed;
}
.all-scroll {
  cursor: all-scroll;
}
.col-resize {
  cursor: col-resize;
}
.row-resize {
  cursor: row-resize;
}
.n-resize {
  cursor: n-resize;
}
.e-resize {
  cursor: e-resize;
}
.s-resize {
  cursor: s-resize;
}
.w-resize {
  cursor: w-resize;
}
.ns-resize {
  cursor: ns-resize;
}
.ew-resize {
  cursor: ew-resize;
}
.ne-resize {
  cursor: ne-resize;
}
.nw-resize {
  cursor: nw-resize;
}
.se-resize {
  cursor: se-resize;
}
.sw-resize {
  cursor: sw-resize;
}
.nesw-resize {
  cursor: nesw-resize;
}
.nwse-resize {
  cursor: nwse-resize;
}
/* custom cursor
----------------------------------*/
/*
.custom {
   cursor: url(images/my-cursor.png), auto;
}
*/
/* Bootstrap (override)
----------------------------------*/
/*
a {
  text-decoration: underline;
}
*/
/* Bootstrap 관련 추가할 요소
----------------------------------*/
/* jquery-ui (override)
----------------------------------*/
.ui-progressbar .ui-progressbar-overlay {
  background: url("../images/animated-overlay.gif");
}
.ui-widget-content {
  background: #ffffff url(../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
}
.ui-widget-header {
  background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #dadada url(../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  background: #ffffff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  background: #fbf9ee url(../images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  background: #fef1ec url(../images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
}
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(../images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
  background-image: url(../images/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
  background-image: url(../images/ui-icons_888888_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(../images/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
  background-image: url(../images/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
  background-image: url(../images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(../images/ui-icons_cd0a0a_256x240.png);
}
.ui-widget-overlay {
  background: #aaaaaa url(../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
}
.ui-widget-shadow {
  background: #aaaaaa url(../images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
}
/* jquery-ui (tabs)
----------------------------------*/
.ui-icon-close {
  float: left;
  margin: 0.6em 0.2em;
  cursor: pointer;
}
.ui-icon-close:before {
  content: "\f00d";
}
html {
  /*min-height: 100%;
  position: relative;*/
}
body {
  background-color: #e4e6e9;
  min-height: 100%;
  padding-bottom: 0;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #393939;
  line-height: 1.5;
}
.main-container:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -2;
  width: 100%;
  max-width: inherit;
  bottom: 0;
  top: 0;
  background-color: #FFF;
}
.main-container.container,
.rtl .main-container.container {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .main-container.container:before {
    /*.box-shadow(~"0 0 0 1px rgba(0,0,0,0.1)");*/
    width: inherit;
  }
}
.main-content {
  /*margin-left: @sidebar-width;*/
  min-height: 100%;
  padding: 0;
}
.page-content {
  background-color: #ffffff;
  position: relative;
  margin: 0;
  padding: 8px 20px 24px;
}
.page-header {
  margin: 0 0 12px;
  border-bottom: 1px dotted #e2e2e2;
  padding-bottom: 16px;
  padding-top: 7px;
}
.page-header h1 {
  padding: 0;
  margin: 0 8px;
  font-size: 24px;
  font-weight: lighter;
  color: #2679b5;
}
.page-header h1 small {
  margin: 0 6px;
  font-size: 14px;
  font-weight: normal;
  color: #8089a0;
}
.page-body {
  margin: 0;
  padding: 25px;
}
.page-footer {
  margin: 0;
  padding: 5px;
}
/* cursor
----------------------------------*/
input.ng-invalid.ng-dirty {
  border: 1px solid red;
}
input.ng-invalid:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
span.error-msg {
  color: red;
  /*width: 100%;
	float: right;*/
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding-left: 10px;
}
/* custom cursor
----------------------------------*/
/*
.custom {
   cursor: url(images/my-cursor.png), auto;
}
*/
/*
@import "components/jqgrid.less";
@import "components/jstree.less";
//@import "components/jqtree.less";
//@import "components/jquery.selectBoxIt.less";
@import "components/jquery.metisMenu.less";
@import "components/bootstrap-datetimepicker.less";
@import "components/daterangepicker-bs3.less";
@import "components/bootstrap-select.less";
@import "components/stepper.less";
*/
