/* * {
  margin: 0;
  padding: 0;
}*/
body {
/*   background: #BBCFE8; */
	background: #fff;
 	font-family: Verdana, Arial, Helvetica, sans-serif;
  	color: #333;
  	font-size: 14px;
}

.wrapper {
	/*
   	width: 1280px; 
  	margin: 0 auto;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	*/
  	margin: 0;
/*   	background: #fff; */
  /* curved border radius */
  	-moz-border-radius: 10px;
  	-webkit-border-radius: 10px;
}
/* header 영역
----------------------------------*/
/*div.header*/
.header {
  	height: 50px;
  	margin: 0;
  	border: 1px solid;
}

/*div.navi*/
.navi {
	float: left;
  	height: 100%;
  	margin: 0;
  	border: 1px solid;
}

.navi .logo {
	float: left;
	width: 200px;
  	height: 100%;
  	border: 1px solid;
}

/*div.navbar*/
.navi .navbar {
	float: left;
	height: 100%;
	border: 1px solid;
    margin: 0;
}

.user {
	float: right;
/*   	width: 200px; */
  	height: 100%;
  	border: 1px solid;
}

.navbar .navbar-nav {
	float: left;
	height: 100%;
/* 	display: block !important; */
	border: 1px solid;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0px;
}

.navbar .navbar-right {
    float: right !important;
}
.navbar .navbar-right .dropdown-menu {
 	right: 0;
    left: auto;
}
.navbar .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
}

/* main 영역
----------------------------------*/
.main {
  	margin: 0;
  	border: 1px solid;
}
.left-sidebar {
  	width: 350px;
  	border: 1px solid;
}
.center {
	position: absolute;
	top: 50px;
	right: 0;
	bottom: 0;
	left: 351px;
/*   	margin: 0 auto; */
  	border: 1px solid;
}

/* left-sidebar 영역
----------------------------------*/
.left_top {
/*   max-height: 250px; */
  height: 400px;
  overflow: auto;
}
/* center 영역
----------------------------------*/
.breadcrumbs {
  height: 30px;
}

.content {
  	border: 1px solid;
}

/* footer 영역
----------------------------------*/
/*div#footer*/
.footer {
  text-align: right;
  height: 50px;
/*   margin: 0 auto; */
}
a.sidebar-link {
  display: none;
}
a.nav-link {
  display: none;
}
/* Phones
----------------------------------*/
@media screen and (max-width: 767px) {
  .wrapper {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .main {
    display: block;
  }
  .sidebar {
    position: absolute;
    top: 0;
    width: 85%;
    height: 100%;
    left: -85%;
    background: rgba(0, 0, 0, 0.1);
  }
  .wrap.active {
    left: 85%;
  }
  .right-columns {
    width: auto;
  }
}
/* Tablets
----------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    left: -50%;
    background: rgba(0, 0, 0, 0.1);
  }
  .main {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    overflow: visible;
  }
  .main.active {
    left: 50%;
  }
}
/* Phones & Tablets 
----------------------------------*/
@media screen and (max-width: 991px) {
  body {
    background: #FFFFFF;
    overflow-x: hidden;
    font-size: 2em;
  }
  .wrapper {
    width: 100%;
  }
  a.sidebar-link {
    float: left;
    display: block;
    padding: 0 1em;
  }
  a.nav-link {
    float: right;
    display: block;
    padding: 0 1em;
  }
  .header {
    top: 0;
  }
  .navi {
    clear: both;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    top: auto;
    overflow: hidden;
    max-height: 0;
    background: rgba(0, 0, 0, 0.1);
  }
  .navi.active {
    max-height: 55em;
  }
}
/* Desktops
----------------------------------*/
/*
@media screen and (min-width: 992px) and (max-width: 1199px) {
  
}
*/
/* Wide Desktops
----------------------------------*/
/*
@media screen and (min-width: 1200px) {
  
}
*/
