<div class="page-content">
	<div class="page-header">
		<h1>{{pageTitle}}</h1>
	</div>
	
	<div class="page-body">
		<div class="row"><!-- start default -->
		<form class="form-search">
			<div class="row">
				<div class="col-md-12">
					<ps-fieldset legend="검색" collapsible="true" expand="true">
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목</label>
								    <input type="text" class="search-item" placeholder="검색어를 입력하세요">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목-item</label>
								    <input type="text" class="search-item" placeholder="검색어를 입력하세요">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목</label>
								    <input type="text" class="search-item" placeholder="검색어를 입력하세요">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목-텍스트길이</label>
								    <input type="text" class="search-item" placeholder="검색어를 입력하세요">
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목</label>
								    <ps-select name="name1" ng-model="myColor" array="colors" option-name="name" option-value="code" option-group="shade"></ps-select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <ps-checkbox name="check_name1" ng-model="checkValue2" inline="true"> 체크1</ps-checkbox>
								    <ps-checkbox name="check_name2" ng-model="checkValue3" inline="true"> 체크2</ps-checkbox>
								    <ps-checkbox name="check_name3" ng-model="checkValue4" inline="true"> 체크3</ps-checkbox>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <ps-checkbox name="name1" ng-model="checkValue1"> Check1</ps-checkbox>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label>검색항목</label>
									<div class="search-item">
								    	<ps-stepper name="stepper_name" ng-model="stepperValue" min="0" max="100" step="5"></ps-stepper>
								    </div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
								    <label>검색항목</label>
									<div class="search-item">
										<ps-radio name="radio_name1" ng-model="radioValue1" value="red"> Radio1</ps-radio>
										<ps-radio name="radio_name1" ng-model="radioValue1" ng-value="specialValue"> Radio2</ps-radio>
										<ps-radio name="radio_name1" ng-model="radioValue1" value="blue"> Radio3</ps-radio>
									</div>	
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
								    <label>항목</label>
									<div class="search-item">
										<ps-radio name="radio_name2" ng-model="radioValue2" value="seoul" inline="true"> Seoul</ps-radio>
										<ps-radio name="radio_name2" ng-model="radioValue2" value="newyork" inline="true"> New York</ps-radio>
										<ps-radio name="radio_name2" ng-model="radioValue2" value="london" inline="true"> London</ps-radio>
									</div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label>기간</label>
									<div class="search-item">
										<ps-datetimepicker id="fromDate" name="fromDate" api="api_from_range"></ps-datetimepicker>
										<ps-datetimepicker id="toDate" name="toDate" options="toDate_options" api="api_to_range"></ps-datetimepicker>
									</div>
						  		</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
								    <label>Field-Name</label>
								    <div class="search-item">
								    	<input type="text" class="form-control" placeholder="input search word">
								    	<p class="help-block">Example block-level help text here.</p>
								    </div>
								</div>
							</div>
						</div>
						
						
					</ps-fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-fieldset legend="옵션" collapsible="true">
						<div>
							내용<br>
							내용<br>
						</div>			 
					</ps-fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</form>
			<div class="row">
				<div class="col-md-9">
					Grid Title
				</div>
				<div class="col-md-3">
					<div class="pull-right">
						<!-- <button type="button" value="a">등록</button> -->
						<a class="btn btn-default" ui-sref="crud-save({type: 'create'})"><i class="fa fa-plus"></i></a>
						<a class="btn btn-default" href="#"><i class="fa fa-trash-o"></i></a>
						<a class="btn btn-default" href="#"><i class="fa fa-refresh"></i></a>
						<button class="btn btn-default" type="button"><i class="fa fa-file-excel-o"></i></button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<ps-grid id="grid" options="options" is-page="true" context-menu="contextMenu"></ps-grid><!-- class-name="smooth" -->
				</div>
			</div>
			<div class="row">
				<ps-hidden-content expand-label="소스 보기" collapse-label="소스 닫기" 
									expand-icon="fa fa-caret-right" collapse-icon="fa fa-caret-down"
									on-click="prettyPrint()">
					<ps-tabset>
	    				<ps-tab heading="HTML코드">
	    					<pre class="prettyprint linenums">
&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    Grid Title
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;ps-grid options="options" grid-id="gridId1" pager-id="pagerId1" class-name="smooth"&gt;&lt;/ps-grid&gt;
  &lt;/div&gt;
&lt;/div&gt;
							</pre>
	    				</ps-tab>
	    				<ps-tab heading="JS코드">
	    					<pre class="prettyprint linenums">
// comment js
Many
lines
of
code
							</pre>
	    				</ps-tab>
	  				</ps-tabset>		
				</ps-hidden-content>
			</div>
		</div><!-- end default -->
		<div class="vspace-12" />
	</div>
	
	<div class="page-footer">
	
	</div>
	
</div>